@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.main_bg {
  background-image: url("./assets/main_bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logout:hover .logout-ico {
  color: white;
  background-color: #97bf0f;
}

@font-face {
  font-family: "montreal-serial-bold";
  src:
    url("https://candyfonts.com/wp-data/2020/07/24/104021/montreal-serial-bold.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2020/07/24/104021/montreal-serial-bold.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2020/07/24/104021/montreal-serial-bold.ttf") format("truetype");
}

@font-face {
  font-family: "montreal-serial-medium-regular";
  src:
    url("https://candyfonts.com/wp-data/2020/07/24/104016/montreal-serial-medium-regular.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2020/07/24/104016/montreal-serial-medium-regular.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2020/07/24/104016/montreal-serial-medium-regular.ttf") format("truetype");
}
