@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.main_bg {
  background-image: url("./assets/main_bg.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
